body{
  font:14px "Lucida Grande",Helvetica,Arial,sans-serif;
}
body a{
  color:#1c7396
}
body p{
  font-family:Arial,Helvetica,sans-serif;
  font-size:18px;
  font-weight:300
}
body img{
  display:inline-block;
  max-width:100%;
  height:auto
}
body .pad-top{
  margin-top:51px
}
body .hammerfont{
  font-family:'Hammersmith One',sans-serif;
}
body .hammerfont:hover{
  color:#000 !important
}
body .tabla-asiento{
  width:100%;
  display:inline-table !important;
}
body .tabla-asiento .col-concepto{
  min-width:60%
}
body .con-toolbar{
  z-index:1000;
  position:fixed;
  margin:0;
  padding:0;
  width:100%;
  background-color:#e6e6e6;
  border-bottom:1px solid #d3d3d3;
}
body .con-toolbar > .container{
  padding-top:4px
}
body .con-toolbar .fa{
  font-size:16px
}
body .con-toolbar .btn-group{
  border-right:1px solid #ccc;
  padding:3px 7px;
  margin:0
}
body .con-toolbar button{
  height:34px;
  width:34px;
  border-radius:0;
  background-color:transparent;
  background-image:none;
  border:1px solid transparent;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  margin:0 1px;
  padding:5px;
  cursor:default;
}
body .con-toolbar button:hover{
  border:1px solid #ccc
}
body .actions-toolbar button{
  height:34px;
  min-width:34px;
  border-radius:0;
  background-color:#fff;
  border:1px solid #ccc;
  box-shadow:none;
  margin:0 1px;
  padding:5px 10px;
  font-weight:normal;
  cursor:default
}
body .top-title-bar{
  background-color:#eee;
  opacity:.9;
  padding:11px 20px;
  color:#4a4a4a;
  text-align:left;
  font-size:18px;
  line-height:24px;
  text-shadow:1px 0 #d8cfd1;
  border-bottom:1px solid #e3e1e1;
}
body .top-title-bar h2,body .top-title-bar h3,body .top-title-bar h4{
  display:inline block;
  margin:0;
  padding:1px;
  font-size:18px;
  display:inline-block;
  padding-right:30px
}
body .top-title-bar .actions{
  display:inline-block;
}
body .top-title-bar .actions a.btn{
  line-height:25px;
  padding-right:15px;
  padding-left:15px
}
body .top-title-bar .actions.right{
  float:right
}
body .top-title-bar i{
  margin-right:5px
}
body .top-title-bar.inner{
  text-align:center;
  background: #fff;
  border: none;
}
body .top-title-bar.sub{
  background-color:#f6f6f6
}
body .inner-title-bar{
  background-color:#eee;
  opacity:.9;
  padding:11px 20px;
  color:#4a4a4a;
  text-align:left;
  font-size:18px;
  line-height:24px;
  text-shadow:1px 0 #d8cfd1;
  border-bottom:1px solid #e3e1e1;
}
body .inner-title-bar.sub-table-bar-header{
  overflow:auto;
  border:1px solid #e3e1e1
}
body .inner-title-bar.sub-table-bar{
  margin-bottom:10px;
  border:1px solid #e3e1e1
}
body .inner-title-bar h2,body .inner-title-bar h3,body .inner-title-bar h4{
  display:inline block;
  margin:0;
  padding:1px;
  font-size:18px;
  font-weight:normal;
  display:inline-block;
  padding-right:30px
}
body .inner-title-bar .actions{
  display:inline-block;
}
body .inner-title-bar .actions a.btn{
  line-height:25px;
  padding-right:15px;
  padding-left:15px
}
body .inner-title-bar i{
  margin-right:5px
}
body .inner-title-bar.inner{
  margin:0 -25px 20px -25px;
  text-align:center
}
body .inner-title-bar.sub{
  background-color:#f6f6f6
}
body .con-notepad{
  background:#e2e2e2;
  padding-top:70px;
  padding-bottom:40px;
  min-height:1000px;
}
body .con-notepad .notepad{
  background:#fff;
  box-shadow:0 1px 2px 1px rgba(0,0,0,0.25);
  padding-top:40px;
  padding-bottom:40px
}
body .neck{
  margin:44px 0 0;
  padding:0;
  background-color:#2b2a28;
  background-image:url("../img/bg-2-full.jpg");
  background-position:center;
}
body .neck h1{
  font-size:55px;
  text-shadow:3px 7px 1px rgba(0,0,0,0.2)
}
body .neck p{
  margin-bottom:15px;
  font-size:21px;
  font-weight:200
}
body .neck .carousel{
  height:350px;
}
body .neck .carousel ol{
  width:100%;
  margin:0 auto;
  left:0;
  border-radius:0
}
body .neck .carousel .carousel-inner .item{
  height:350px;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
}
body .neck .carousel .carousel-inner .item .carousel-caption{
  background-color:rgba(33,33,33,0.9);
  box-shadow:2px 2px 2px #000;
  border-radius:10px;
  padding:20px;
  bottom:90px;
}
body .neck .carousel .carousel-inner .item .carousel-caption h2{
  font-size:45px
}
body .neck .carousel .carousel-inner .item .carousel-caption p{
  font-size:26px;
  text-align:left;
}
body .neck .carousel .carousel-inner .item .carousel-caption p span{
  display:block
}
body .neck .carousel .carousel-inner .item .carousel-caption h2{
  margin-top:0;
  text-align:center
}
body .neck .carousel-indicators{
  bottom:0
}
body .neck .carousel-control{
  background:none
}
body .logobig,body .white{
  color:#fff !important
}
body .our-main-content{
  border-top:1px solid #e7e7e7;
  padding-top:44px;
}
body .our-main-content .mean-logo{
  height:30px
}
body .our-main-content #side.do-collapse .fa-chevron-left{
  display:none !important
}
body .our-main-content #side.do-collapse .fa-chevron-right{
  display:block !important
}
body .our-main-content #side.do-collapse .hidden-xs{
  display:none;
}
body .our-main-content #side.do-collapse .hidden-xs #content{
  width:97%
}
body .our-main-content #side{
  border-right:1px solid #4a4a4a;
  position:absolute;
  top:0;
  height:100%;
  left:0;
  bottom:0;
  min-width:260px !important;
  padding:0;
  background-color:#4a4a4a;
  overflow:hidden;
  box-shadow:2px -2px 10px #000;
}
body .our-main-content #side #topics .ui-fancytree{
  background-color:#4a4a4a;
  color:#fff;
  border:none
}
body .our-main-content #side #topics .fancytree-title{
  color:#fff;
}
body .our-main-content #side #topics .fancytree-title:hover{
  background-color:#6b6b6b
}
body .our-main-content #side.do-collapse a.collapser{
  float:left
}
body .our-main-content #side a.collapser{
  padding:16px;
  text-decoration:none;
  color:#777;
  float:left;
}
body .our-main-content #side a.collapser .fa-chevron-left{
  display:block
}
body .our-main-content #side a.collapser .fa-chevron-right{
  display:none
}
body .our-main-content #side #site-opts{
  position:absolute;
  bottom:0;
  width:100%
}
body .our-main-content #side .sidebar-nav{
  background-color:#4a4a4a;
  padding:0;
}
body .our-main-content #side .sidebar-nav #side-chat-menu{
  height:490px;
  overflow:hidden;
  position:relative;
}
body .our-main-content #side .sidebar-nav #side-chat-menu li a.chat-selector{
  padding:0 15px 0 0;
  border-bottom:1px solid #5b5b5b;
}
body .our-main-content #side .sidebar-nav #side-chat-menu li a.chat-selector img.msg-avatar{
  width:40px;
  height:40px;
  border-radius:0
}
body .our-main-content #side .sidebar-nav #side-chat-menu li a.chat-selector .label-close{
  margin:10px 0;
  display:none
}
body .our-main-content #side .sidebar-nav #side-chat-menu li a.chat-selector:hover .label-close{
  display:block
}
body .our-main-content #side .sidebar-nav #side-menu a,body .our-main-content #side .sidebar-nav #side-chat-menu a{
  color:#fff;
}
body .our-main-content #side .sidebar-nav #side-menu a img.msg-avatar,body .our-main-content #side .sidebar-nav #side-chat-menu a img.msg-avatar{
  width:20px;
  height:20px;
  border-radius:20px
}
body .our-main-content #side .sidebar-nav #side-menu a span.d-item-title,body .our-main-content #side .sidebar-nav #side-chat-menu a span.d-item-title{
  padding-left:10px
}
body .our-main-content #side .sidebar-nav #side-menu li.active a,body .our-main-content #side .sidebar-nav #side-chat-menu li.active a{
  color:#000;
  background:#ccc;
  box-shadow:inset 0 0 10px #bebebe;
  text-shadow:1px 1px #eaeaea
}
body .our-main-content #side .sidebar-nav #side-menu a:hover,body .our-main-content #side .sidebar-nav #side-chat-menu a:hover{
  color:#000
}
body .our-main-content #side .sidebar-nav #side-menu a.group,body .our-main-content #side .sidebar-nav #side-chat-menu a.group{
  color:#c1c1c1;
  background:#3d3d3d;
  border-bottom:1px solid #5b5b5b
}
body .our-main-content #content{
  background:#fff;
  box-shadow:2px 0 10px #000;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  padding:10px 35px;
  height:100%;
  overflow:auto;
  z-index:2;
}
body .our-main-content #content h1,body .our-main-content #content h2,body .our-main-content #content h3{
  padding-top:30px
}
body .benefits-con{
  background-color:rgba(33,33,33,0.9);
  box-shadow:2px 2px 2px #000;
  border-radius:10px;
  padding:10px 20px;
  text-align:center;
}
body .benefits-con h3{
  text-align:center;
}
body .benefits-con h3 img{
  padding:0 10px 10px 10px;
  width:140px
}
body .benefits-con .benefits a{
  color:#fff;
  text-decoration:none;
  font-size:12px;
  padding:10px 0;
  margin:10px 0
}
.loadingmessage{
  width:100%;
  height:100%;
  top:0;
  left:0;
  position:fixed;
  display:block;
  background:rgba(0,0,0,0.9);
  color:#000;
  z-index:999999;
  text-align:center;
}
.loadingmessage .preloading-message{
  color:#fff;
  font-size:45px;
  padding:15px;
  border-radius:5px;
  background-color:#000;
  border-radius:10px;
  box-shadow:2px 2px 2px #000;
  width:20%;
  margin:0 auto;
  margin-top:15%
}
.default-bg{
  background:url("/img/home-code-bg-alt-01.svg");
  background-color:#0b0b0b
}
.btn-full{
  width:100%
}
#home{
  background:url("/img/home-code-bg-alt-01.svg");
  background-color:#0b0b0b;
  color:#fff;
}
#home p{
  color:#808080;
  font-size:20px
}
#home .mission{
  padding-top:40px;
}
#home .mission .text-uppercase{
  font-size:60px;
}
#home .mission .text-uppercase:hover{
  color:#fff !important
}
#home #register-form{
  padding-top:40px;
}
#home #register-form button{
  width:100%
}
.board-container{
  margin-top:-22px;
}
.board-container #side-col.do-collapse .fa-chevron-left{
  display:none !important
}
.board-container #side-col.do-collapse .fa-chevron-right{
  display:block !important
}
.board-container #side-col.do-collapse .hidden-xs,.board-container #side-col.do-collapse .fa.arrow{
  display:none
}
.board-container #side-col.do-collapse .sidebar-nav ul a{
  padding:10px
}
.board-container #side-col{
  border-right:1px solid #4a4a4a;
  top:0;
  height:100%;
  left:0;
  bottom:0;
  padding:0;
  background-color:#4a4a4a;
  overflow:hidden;
}
.board-container #side-col .navbar-default,.board-container #side-col .sidebar-nav{
  border:none
}
.board-container #side-col #topics .ui-fancytree{
  background-color:#4a4a4a;
  color:#fff;
  border:none
}
.board-container #side-col #topics .fancytree-title{
  color:#fff;
}
.board-container #side-col #topics .fancytree-title:hover{
  background-color:#6b6b6b
}
.board-container #side-col.do-collapse a.collapser{
  float:left
}
.board-container #side-col a.collapser{
  padding:16px;
  text-decoration:none;
  color:#777;
  float:right;
}
.board-container #side-col a.collapser .fa-chevron-left{
  display:block
}
.board-container #side-col a.collapser .fa-chevron-right{
  display:none
}
.board-container .sidebar-con{
  padding-left:0;
}
.board-container .sidebar-con .sidebar-nav{
  padding:0;
}
.board-container .sidebar-con .sidebar-nav .d-item-title{
  padding-left:10px
}
.dropdown-menu-bubble-right:before{
  position:absolute;
  top:-7px;
  right:9px;
  display:inline-block;
  border-right:7px solid transparent;
  border-bottom:7px solid #ccc;
  border-left:7px solid transparent;
  border-bottom-color:rgba(0,0,0,0.2);
  content:''
}
.dropdown-menu-bubble-right:after{
  position:absolute;
  top:-6px;
  right:10px;
  display:inline-block;
  border-right:6px solid transparent;
  border-bottom:6px solid #fff;
  border-left:6px solid transparent;
  content:''
}
[ng:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{
  display:none !important
}
.card-container.card{
  max-width:410px;
  padding:20px 40px
}
.btn{
  font-weight:300;
  height:36px;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
  cursor:default
}
.card{
  background-color:#f7f7f7;
  padding:20px 25px 30px;
  margin:0 auto 25px;
  margin-top:50px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3);
  box-shadow:0 2px 2px rgba(0,0,0,0.3)
}
.profile-img-card{
  width:96px;
  height:96px;
  margin:0 auto 10px;
  display:block;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%
}
.profile-name-card{
  font-size:16px;
  font-weight:bold;
  text-align:center;
  margin:10px 0 0;
  min-height:1em
}
.reauth-email{
  display:block;
  color:#404040;
  line-height:2;
  margin-bottom:10px;
  font-size:14px;
  text-align:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
.form-signin #inputEmail,.form-signin #inputPassword{
  direction:ltr;
  height:44px;
  font-size:16px
}
.form-signin input[type=email],.form-signin input[type=password],.form-signin input[type=text],.form-signin button{
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index:1;
  position:relative;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
.form-signin .form-control:focus{
  border-color:#6891a2;
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #6891a2;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #6891a2
}
.btn.btn-signin{
  background-color:#6891a2;
  padding:0;
  font-weight:700;
  font-size:14px;
  height:36px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:none;
  -o-transition:all .218s;
  -moz-transition:all .218s;
  -webkit-transition:all .218s;
  transition:all .218s
}
.btn.btn-signin:hover,.btn.btn-signin:active,.btn.btn-signin:focus{
  background-color:#0c6121
}
.forgot-password{
  color:#6891a2
}
.forgot-password:hover,.forgot-password:active,.forgot-password:focus{
  color:#0c6121
}
.social-buttons li{
  padding-bottom:10px
}
@media only screen and (max-width:768px){
  .sidebar-con{
      padding:0;
  }
  .sidebar-con .d-item-title{
      display:none
  }
  .main-con{
      padding:0
  }
}
.embed-responsive{
  position:relative;
  display:block;
  height:0;
  padding:0;
  overflow:hidden
}
.embed-responsive.embed-responsive-16by9{
  padding-bottom:56.25%
}
.embed-responsive-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  border:0
}
.bs-callout{
  padding:20px;
  margin:20px 0;
  border:1px solid #eee;
  border-left-width:5px;
  border-radius:3px
}
.bs-callout h4{
  margin-top:0;
  margin-bottom:5px
}
.bs-callout p:last-child{
  margin-bottom:0
}
.bs-callout code{
  border-radius:3px
}
.bs-callout+.bs-callout{
  margin-top:-5px
}
.bs-callout-default{
  border-left-color:#777
}
.bs-callout-default h4{
  color:#777
}
.bs-callout-primary{
  border-left-color:#428bca
}
.bs-callout-primary h4{
  color:#428bca
}
.bs-callout-success{
  border-left-color:#5cb85c
}
.bs-callout-success h4{
  color:#5cb85c
}
.bs-callout-danger{
  border-left-color:#d9534f
}
.bs-callout-danger h4{
  color:#d9534f
}
.bs-callout-warning{
  border-left-color:#f0ad4e
}
.bs-callout-warning h4{
  color:#f0ad4e
}
.bs-callout-info{
  border-left-color:#5bc0de
}
.bs-callout-info h4{
  color:#5bc0de
}
.sidebar-nav{
  border-bottom:1px solid rgba(0,0,0,0.3);
  background-image:-webkit-linear-gradient(left,color-stop(#333 10px),color-stop(#222 10px));
  background-image:linear-gradient(to right,#333 10px,#222 10px);
  background-repeat:repeat-x
}
.sidebar-nav ul{
  padding:0;
  margin:0;
  list-style:none
}
.sidebar-nav a,.sidebar-nav a:hover,.sidebar-nav a:focus,.sidebar-nav a:active{
  outline:none
}
.sidebar-nav ul li,.sidebar-nav ul a{
  display:block
}
.sidebar-nav ul a{
  padding:10px 20px;
  color:#aaa;
  border-top:1px solid rgba(0,0,0,0.3);
  box-shadow:0 1px 0 rgba(255,255,255,0.05) inset;
  text-shadow:0 1px 0 rgba(0,0,0,0.5)
}
.sidebar-nav ul li ul li ul li a{
  background:rgba(93,93,93,0.54)
}
.sidebar-nav ul a:hover,.sidebar-nav ul a:focus,.sidebar-nav ul a:active{
  color:#fff;
  text-decoration:none
}
.sidebar-nav ul ul a{
  padding:10px 30px;
  background-color:rgba(255,255,255,0.1)
}
.sidebar-nav .nav > li > a:hover,.sidebar-nav .nav > li > a:active,.sidebar-nav .nav > li > a:focus,.sidebar-nav ul ul a:hover,.sidebar-nav ul ul a:focus,.sidebar-nav ul ul a:active{
  background-color:rgba(255,255,255,0.2)
}
.sidebar-nav-item{
  padding-left:5px
}
.sidebar-nav-item-icon{
  padding-right:5px
}
.smartrow-con{
  overflow:auto
}
.smartrow-con.selected .smartrow{
  border:1px solid #00f;
  border-left:3px solid #00f
}
.smartrow-con.selected.editing .smartrow{
  border:1px solid #008000;
  border-left:3px solid #008000
}
.smartrow{
  border:1px solid #fff;
  border-left:3px solid #fff;
  padding:5px
}
.smartrow:hover{
  border:1px solid #ccc;
  border-left:3px solid #ccc
}
textarea{
  line-height:16px;
  font-size:16px
}
.notepad table{
  display:block;
  width:100%;
  overflow:auto
}
.notepad table th{
  font-weight:600
}
.notepad table th,.notepad table td{
  padding:6px 13px;
  border:1px solid #dfe2e5
}
.notepad table tr{
  background-color:#fff;
  border-top:1px solid #c6cbd1
}
.notepad table tr:nth-child(2n){
  background-color:#f6f8fa
}
html,body{
  max-width:100%;
  overflow-x:hidden
}

.ace_editor { min-height: 20px; background: #ccc; }

.ace_content { background: #f7f7f7; }

[ui-ace] { border: 1px solid #ccc; }

.stdout, .stderr {
  background: wheat;
  border: 0;
  border-radius: unset;
  margin: 2px 0;
}

.stderr {
	color: red;
}

.title-edition i {
  display: none;
}

.title-edition:hover i {
  display: inline-block;
}

.title-edition:hover {
  pointer: cursor;
}

.ng-spotlight-results-list,
.ng-spotlight.ng-spotlight-overlay {
  position: fixed !important;
}
/*
.ng-spotlight-overlay {
}
.ng-spotlight-results-panel,
*/
.ng-spotlight-results-detail,
.ng-spotlight-results-list {
  height: 444px !important;
}
